@model object
<!DOCTYPE html>

<html>
<head>
    <title>Key Value Store</title>
    <link rel="stylesheet" type="text/css" href="~/Site.css"/>
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>