<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>

    </config>

    <packageRestore>
    </packageRestore>

    <packageSources>
        <!--<add key="MyGet" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />-->
        <add key="MyGetNetCore" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    </packageSources>

    <packageSourceCredentials />

    <disabledPackageSources />

    <apikeys>
    </apikeys>
</configuration>